# problem solving with python phase -1

* variables
* keywords
* operators

In [1]:
a=10
print(a)

10

In [2]:
print("a")

a

In [3]:
str(a)

'10'

In [4]:
type(a)

int

In [5]:
b=str(a)
type(b)

str

# types of operators

* arithmetic operators
    * (+,-,*,%,/,**,//)
* assignment operators
    * (=,+=,-=,*=,/=,**=,//=)
* logical operators
    * (AND,OR,NOT)
* identity operators
    * (is,not is)
* bitwise operators
    * (>>,<<)
* conditional operators
    * (==,>=,<=,!=)
* membership operators
    * (in,not in)

In [6]:
# variable
a=5
b=10

In [7]:
a+b #arithmetic operators

15

In [8]:
a-b

-5

In [9]:
a*b

50

In [10]:
5>>2

1

In [11]:
5<<2

20

In [13]:
print(10>>3) # bitwise operators
print(10<<3)

1
80

In [14]:
10 is a #identity operators

False

In [20]:
10 is not b

False

In [16]:
print(5 is a)
print(10 is not b)
print(8 is not a)
print(19 is b)

True
False
True
False

In [17]:
't' in "tejaswi" #membership operators

True

In [18]:
'h' not in "mohana"

False

In [21]:
"a" in 'anu'

True

In [22]:
1 and 1 #logical operators

1

In [23]:
"1" and "1"

'1'

In [24]:
1 and 0

0

In [30]:
a=5
print(a)
b=10
print(b)
x,y,z=10,15,20
p=q=r=50
print(q)
print(y)
# variable redeclaration
y=30
print(y)
x=55
print(x)

5
10
50
15
30
55

In [31]:
del x

In [33]:
print("y")

y

In [34]:
print(y)

30

## flow control

* control statements
* loops


* if
* if-else
* nested if
* while
* for
* break
* continue
* pass

In [38]:
# if statement
a=10
if a==10:
    print("condition satisfied")

condition satisfied

In [39]:
# if else statement
a =22
if a==25:
    print("condition satisfied")
else:
    print("condition not satisfied")

condition not satisfied

In [45]:
# dynamic variable representation
a1= input("enter a1 value: ")
print(a1)

enter a1 value: 77
77

In [46]:
a1=int(input("enter a1 value: "))
print(a1)
type(a1)

enter a1 value: 60
60

int

In [52]:
# check the given number even or odd
a=int(input("enter a value: "))
if a%2==0:
    print("given number is even")
else:
    print("given number is odd")

enter a value: 5
given number is odd

In [53]:
# check the given number is positive or negative
a=int(input("enter a value: "))
if a>0:
    print("given number is positive")
else:
    print("given number is negative")

enter a value: 5
given number is positive

In [56]:
# print the biggest value in the given two numbers
a=int(input("enter a value: "))
b=int(input("enter b : "))
if a>b:
    print("given",a,"is bigger than",b )
if a<b:
    print("given",b,"is bigger than",a)

enter a value: 55
enter b : 33
given 55 is bigger than 33

In [59]:
#if-else ladder
# print the biggest number in the given three numbers
a=int(input("enter a value: "))
b=int(input("enter b value: "))
c=int(input("enter c value: "))
if a>b>c:
    print("given value",a,"is bigger than",b,c)
elif b>c:
    print("given value",b,"is bigger than",c,a)
else:
    print("given value",c,"is bigger than",a,b)

enter a value: 66
enter b value: 99
enter c value: 44
given value 99 is bigger than 44 66

In [4]:
# factorial of a given number
n=5
f=1
for i in range (1,n+1):
    f=f*i
print(f)

120

In [12]:
# multiplicattion table of a given number
n=int(input("multiplication table of : "))
r=int(input("multiplication upto: "))
for i in range(1,r+1):
    print(n,"*",i,"=",n*i)

multiplication table of : 5
multiplication upto: 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [3]:
# print all numbers which is divisible by 9 in the given range
n=int(input("enter n value : "))
c=0
for i in range(0,n+1):
    if(i%9==0):
        c=c+1
        print(i)
print("the count of 9 divisibles in the given range: ",c)

enter n value : 100
0
9
18
27
36
45
54
63
72
81
90
99
the count of 9 divisibles in the given range:  12

In [8]:
# print n natural numbers by using while loop
n=10
i=1
while(i<n+1):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [9]:
n=10
i=1
while(i<n+1):
    print(i)
    if(i==5):
        break
    i=i+1

1
2
3
4
5

In [17]:
# print reverse of n natural numbers
n=int(input("enter n value: "))
for i in range(n,0,-1):
    print(i)

enter n value: 7
7
6
5
4
3
2
1

In [8]:
n=10
i=0
while(i<n+1):
    i=i+1
    if(i==10):
        continue
    print(i)

1
2
3
4
5
6
7
8
9
11

### functions

In [10]:
n=int(input())
def evenORodd(n):
    if n%2==0:
        print("given number is even")
    else:
        print("given number is odd")
evenORodd(n)

19
given number is odd

In [11]:
evenORodd(45)

given number is odd

In [12]:
evenORodd(198)

given number is even

In [5]:
#by using function concept try to print sum of individual digits in a given number
n=int(input("enter n value: "))
s=0
while(n>0):
    r=n%10
    s=s+r
    n=n//10
print("sum of the digits of given number: ",s)

enter n value: 05
sum of the digits of given number:  5

### strings

In [7]:
s="tejaswi405"

In [8]:
type(s)

str

In [9]:
a="ece"

In [11]:
a[0:]

'ece'

In [12]:
a[1:]

'ce'

In [13]:
a[2]

'e'

In [15]:
a[-3:]

'ece'

In [16]:
a[-2:]

'ce'

In [17]:
a="teju"

In [18]:
a[:3]

'tej'

In [23]:
a[:1]

't'

In [24]:
a[0:3]

'tej'

In [25]:
a[0:4]

'teju'

In [36]:
s="python"
s[0] ### accessing the 0 index value

'p'

In [28]:
s[1] ### accessing the 1 index value

'y'

In [33]:
len(s) ### accessing the length of string

6

In [34]:
s[len(s)-1] ### accessing the last index value

'n'

In [35]:
s[-1] ### accessing the last index value

'n'

In [29]:
s[int(len(s)/2)] ### accessing the middle character

'h'

In [31]:
s[-1::-1] ### reversing the string

'nohtyp'

In [32]:
s[1:-1] ### except first and last indices accessing remaining values

'ytho'

In [37]:
s[-1:-3:-1] ### accessing the last two characters in reverse order

'no'

In [42]:
s[-3:-5:-1] ### accessing the middle two characters in reverse order

'ht'

In [47]:
s[int(len(s)//2):int(len(s)//2)-2:-1] ### accessing the middle two characters in reverse order

'ht'

In [2]:
#### create a function for reversing a string
def reverseastring(s):
    return s[-1::-1]
reverseastring("teju")

'ujet'

In [18]:
### create a function for finding middle values for even and odd characters in a string
def middlestring(a):
    if len(a)%2==0:
        return a[int(len(a)//2)-1:int(len(a)//2)+1]
    else:
        return a[int(len(a)//2)]
middlestring("tejumonanu")

'mo'

In [20]:
middlestring("tejaswi")

'a'

In [23]:
help('join')

No Python documentation found for 'join'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [24]:
help("str")

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [41]:
s="tejaswi123"

In [42]:
str.capitalize(s) ### for capitalizing the string

'Tejaswi123'

In [43]:
str.upper(s) #### for making al letters in string capital

'TEJASWI123'

In [44]:
str.lower(s) ## for making the string to small letters

'tejaswi123'

In [45]:
str.isupper(s) ###for checking the string whether it is upper or not

False

In [46]:
str.islower(s) ### for checking the string whether it is lower or not

True

In [47]:
str.isalpha(s)

False

In [48]:
str.isalnum(s)

True

In [49]:
str.isdecimal(s)

False

In [54]:
str.split(s,"a")

['tej', 'swi123']

In [53]:
str.startswith(s,"t")

True

In [58]:
str.swapcase("teju")

'TEJU'

In [61]:
str.index(s,"a")

3

In [62]:
str.count("mmmmmooooonnnnnnnaaaaaaa","a")

7

In [66]:
str.strip("   teju   ")

'teju'

In [67]:
str.lstrip("   mona   ")

'mona   '

In [68]:
str.rstrip("   anu   ")

'   anu'

In [69]:
str.casefold("PoTtI")

'potti'

In [71]:
str.find(s,"w")

5

### ***lists***

In [ ]:
### help("list")

In [1]:
a=input()
for i in a:
    print(i)

0123456789
0
1
2
3
4
5
6
7
8
9

In [3]:
n=input()
for i in range(len(n)):
    print(n[i])

teju
t
e
j
u

In [3]:
a=[1,2,3,"abc","@"]

In [4]:
type(a)

list

In [5]:
a[-1::-1]

['@', 'abc', 3, 2, 1]

In [6]:
a[-2][-1::-1]

'cba'

In [9]:
a[-3]

3

In [14]:
a[-4]

2

In [17]:
a[-1][-1::-1]

'@'

In [19]:
a.append("15")

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
a=[1,2,3,"abc","@"]

In [28]:
a

[1, 2, 3, 'abc', '@']

In [23]:
a.insert(10,2)

In [29]:
a

[1, 2, 3, 'abc', '@']

In [30]:
a.insert(30,4)

In [31]:
a

[1, 2, 3, 'abc', '@', 4]

In [32]:
a.append(55)

In [33]:
a

[1, 2, 3, 'abc', '@', 4, 55]

In [34]:
a.pop(2)

3

In [35]:
a

[1, 2, 'abc', '@', 4, 55]

In [36]:
a.remove(4)

In [37]:
a

[1, 2, 'abc', '@', 55]

In [43]:
a=[1,2,3445,5667,78990]

In [44]:
a.sort(reverse=True)

In [45]:
a

[78990, 5667, 3445, 2, 1]

In [46]:
a.sort(reverse=False)

In [47]:
a

[1, 2, 3445, 5667, 78990]

In [48]:
a.append(128903048602980589905)

In [49]:
a

[1, 2, 3445, 5667, 78990, 128903048602980589905]

In [51]:
a.pop(5)

128903048602980589905

In [52]:
a

[1, 2, 3445, 5667, 78990]

In [53]:
a.remove(1)

In [54]:
a

[2, 3445, 5667, 78990]

In [57]:
a.insert(0,1)

In [58]:
a

[1, 2, 0, 3445, 5667, 78990]

In [59]:
a.remove(0)

In [60]:
a

[1, 2, 3445, 5667, 78990]

In [2]:
# check whether the year is leap year or not
def isleapyear(y):
    y=int(input("enter year: "))
    if (y%4==0 and y%100!=0):
        print(y,"is leap year")
    elif(y%100==0 and y%400==0):
        print(y,"is leap year")
    else:
        print(y,"is not leap year")

In [3]:
isleapyear(1400)

enter year: 100
100 is not leap year

In [5]:
###check if the number exist in a given range(inputs:number(n))
### range(lower bound and upper bound)
def isinrange(n):
    n=int(input("enter n: "))
    l=int(input("enter the lower bound"))
    u=int(input("enter the upper bound"))
    if n in range(l,u):
        print(n,"is in range")
    else:
        print(n,"the num is not in range")
isinrange("n")

enter n: 66
enter the lower bound33
enter the upper bound55
66 the num is not in range

In [ ]:
### check the number of digits in a given number
def numofdigits(n):
    n=int(input("enter n: "))
    count=0
    while(n>0):
        n=n//10
        count=count+1

In [16]:
### check if the given number is factor of 1000
def factor(n):
    n=int(input("enter n: "))
    if n%1000==0:
        print(n,"is factor of 1000")
    else:
        print(n,"is not factor of 1000")
factor("n")

enter n: 2000
2000 is factor of 1000

### ***tuples***

In [8]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [9]:
a=[1,2,3,4]

In [10]:
a[0]

1

In [11]:
a[-1::-1]

[4, 3, 2, 1]

In [17]:
a.count(1)

1

In [18]:
a.index(4)

3

### ***dictionaries***###

In [19]:
l=[]
l.append(20)

In [20]:
l

[20]

In [21]:
l.append(9)

In [22]:
l

[20, 9]

In [23]:
a={"roll no":"18EM1A0405","name":"tejaswi"}

In [24]:
a["roll no"]

'18EM1A0405'

In [25]:
a["name"]

'tejaswi'

In [31]:
a={"roll no":["18EM1A0405","18EM1A0419","18EM1A0438","18EM1A0439"],"name":["psycho devil","tarzan gf","dash pot","montana smith"]}

In [32]:
a

{'roll no': ['18EM1A0405', '18EM1A0419', '18EM1A0438', '18EM1A0439'],
 'name': ['psycho devil', 'tarzan gf', 'dash pot', 'montana smith']}

In [33]:
## sum of digits of given numbers using dictionary
d={'a':455436,'b':6897534,'c':589540}
print("total sum of values in the dictionary: ")
print(sum(d.values()))

total sum of values in the dictionary:
7942510

In [34]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [35]:
a.values()

dict_values([['18EM1A0405', '18EM1A0419', '18EM1A0438', '18EM1A0439'], ['psycho devil', 'tarzan gf', 'dash pot', 'montana smith']])

In [36]:
a.items()

dict_items([('roll no', ['18EM1A0405', '18EM1A0419', '18EM1A0438', '18EM1A0439']), ('name', ['psycho devil', 'tarzan gf', 'dash pot', 'montana smith'])])

In [37]:
a.keys()

dict_keys(['roll no', 'name'])

In [43]:
a.fromkeys(a)

{'roll no': None, 'name': None}

In [51]:
a.get(3)

In [62]:
### count of each number in the given number how many times each number is repeated
def freq(s):
    for i in s:
        count=s.count(i)
        print(i,":",count)
    return
freq("122443")

1 : 1
2 : 2
2 : 2
4 : 2
4 : 2
3 : 1

In [68]:
### count of each number in the given number how many times each number is repeated and every repeated num not taken for count
a="1223445666"
k={}
for i in a:
    if i not in k.keys():
        k[i]=a.count(i)
k

{'1': 1, '2': 2, '3': 1, '4': 2, '5': 1, '6': 3}

In [87]:
### iterate the integers from 1 to50, for multiples of 3 print "Fizz"and for multiples of 5 print"Buzz" and for multiples of both 3 and 5 print"FizzBuzz"
for k in range(1,51):
    if(k%3==0 and k%5==0):
        print(k,"FizzBuzz")
    elif k%5==0:
        print(k,"Buzz")
    elif k%3==0:
        print(k,"Fizz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz

In [23]:
# Python Program to find the factors of a number
def factors(n):
    print("the factors of",n, "are")
    for i in range(1,n+1):
        if n % i == 0:
            print(i)

In [22]:
factors(10)

the factors of 10 are
1
2
5
10

In [26]:
def factorsN(n):
    #print("the factors of",n, "are")
    for i in range(1,n+1):
        if n % i == 0:
            print(i)
    return 
factorsN(5)

1

In [33]:
# multiplication of all tables upto given number
def multiplication():
    n=int(input("enter n value: "))
    r=int(input("enter r value: "))
    for i in range(1,n+1):
        for j in range(1,r+1):
            print(i,"*",j,"=",i*j)
multiplication()

enter n value: 5
enter r value: 10
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50